root = true

#######################################
# General
#######################################

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

#######################################
# C#
#######################################

[*.cs]

# Indentation
indent_style = space
indent_size = 4

# New lines
csharp_new_line_before_members_in_types = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true

# Braces
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

# Using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Namespace style
# csharp_style_namespace_declarations = file_scoped:warning

# var usage
#csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
#csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Expression preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion

# Modifiers
csharp_prefer_braces = true:warning
dotnet_style_require_accessibility_modifiers = always:warning

# Expression-bodied members
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion

# Pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

#######################################
# Naming conventions
#######################################

# Interfaces: 
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = interface_style

dotnet_naming_symbols.interface.applicable_kinds = interface

dotnet_naming_style.interface_style.capitalization = pascal_case
dotnet_naming_style.interface_style.required_prefix = I

# Types: PascalCase
dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.types.applicable_kinds = class,struct,enum,delegate

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Private fields: _camelCase
dotnet_naming_rule.private_fields_should_be_camel_case.severity = warning
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = private_field_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.private_field_style.capitalization = camel_case
dotnet_naming_style.private_field_style.required_prefix = _

#######################################
# JSON
#######################################

[*.json]
indent_style = space
indent_size = 4

#######################################
# XML / project files
#######################################

[*.{xml,csproj,props,targets}]
indent_style = space
indent_size = 4
